@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

#demo2{
    font-family: 'Anton', sans-serif;
    letter-spacing: .2rem;
    color: crimson;
    margin-top: 7px;
    padding-top: 20px;
}

.container{
    border: 1px solid #171717;
    height: 55vh;
    width: 599px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 160px;
    margin-bottom: 120px;
    margin-left: 550px;
    margin-right: 300px;
    background-color: #272727;
}

hr{
    width: 600px;
}

#demo1{
    border: 1px solid black;
    border-radius: 5px;
    background-color: aliceblue;
}

button{
    border: none;
    height: 60px;
    width: 90px;
    border-radius: 5px;
    box-shadow: black;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
}

#btn1{
    margin-bottom: 10px;
}


button:hover{
    background-color: #FD3162;
}

input{
    border: 1px solid #171717;
    border-radius: 3px;
    height: 30px;
    width:  90px;
    background-color: rgb(204, 199, 199);
    
}

@media only screen and (max-width:425px){
    .container{
        border: 1px solid #171717;
        height: 55vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 200px;
        margin-bottom: 120px;
        background-color: #272727;
        margin-left: 1px;
    }

    hr{
        width: 100%;
    }
}